.headerContainer {
  width: 100vw;
  height: 6rem;

  background-color: var(--black);

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 3.6rem;

  div {
    img {
      width: 9rem;
    }
  }
}
